*{
    margin: 0;
    box-sizing: border-box;
}
.nav-container{
    width: 1440px;
    height: 72px;
    background: #FFFFFA;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
.nab-logo{
    width: 64px;
    height: 96px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 96px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
}
.nav-items li{
    margin: 0 60px;
    list-style-type: none;
}
.nav-items li:nth-last-of-type(1){
    margin-right: 0;
}
.nav-items li a{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #021718;
    text-decoration: none;
}
.body{
    font-family: "Roboto", sans-serif;
      
}
.main-container{
    background:#F5A05C url(./images/BGShape.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 1440px;
    height: 900px;
    display: flex;
    align-items: center;
}
.main-header{
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.main-header .header-img img {
    margin-left: 40px;
    transition: 300ms;
    position: relative;
    z-index: 100;
}
.photo-bg{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 806.33px;
    top: 218px;
    background: #44A1A0;
    transform: rotate(-6.47deg);
    background: #44A1A0;
}
.main-header .header-img img:hover{
    transform: rotate(-6deg);
}
.main-text{
    display: grid;
    align-items: center;
}
.main-text h1 {
    color: #021718;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;

}
.main-text p{
    font-weight: normal;
    line-height: 42px;
    color: #021718;
    width: 418px;
    margin: 30px 0;
    font-size: 24px;
}
.main-btn{
    width: 196px;
    height: 60px;
    background: #01847F;
    border-radius: 8px;
    font-size: 24px;
    line-height: 42px;
    color: #FFFFFA;
    border: none;
    transition: 300ms;
}
.main-btn:hover{
    transform: translateY(-8px);
}
.social-icon{
    display: flex;
    align-items: center;
}
.social-icon a{
    margin: 0 20px;
}